a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
header {
  /* position: sticky;  Fix the position */
  top: 0;         /* Align to the top */
  left: 0;        /* Align to the left */
  right: 0;       /* Stretch right to fill the entire width */
  z-index: 10000;  /* Ensure it stays on top of other content */
}
